@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


:root {
  --primary-color:#d9e7cb;
  --secondary-color:#49454F;
  --tertiary-color:#6c7365;
  --body-font:"Roboto","Helvetica","Arial",sans-serif;
  --body-size:14px;
  --body-leading:20px;
  --light-color: #d9e7cb60;
  --h1-size:32px;
  --h2-size:28px;
  --h3-size:24px;
  --h4-size:20px;
  --h5-size:16px;
  --h6-size:14px;
  --sm-size:12px;
  --sm-leading:16px;
  --sm-box-size:44px;
  --md-gap:24px;
  --column-gap:16px;
  --grey-border:rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:var(--body-font);
  font-size:var(--body-size);
  color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer > div::-webkit-scrollbar-track {
  background-color: transparent;
}

.drawer > div::-webkit-scrollbar {
  width: 6px;
 
  background-color: 'linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE';
}

.drawer > div::-webkit-scrollbar-thumb {
  background-color: #CAC4D0;
  border-radius: 10px;
}

.links {
  text-decoration: none;
}
.App-logo-icon {
  height:40px;
  width:40px;
  object-fit: contain;
  display:block;
  margin:0 auto;
}